OBSERVIUM_ADMIN_PASS=admin
OBSERVIUM_ADMIN_USER=Ch4ngeME

OBSERVIUM_auth_mechanism=mysql
OBSERVIUM_db_extension=mysqli
OBSERVIUM_db_host=db
OBSERVIUM_db_name=observium
OBSERVIUM_db_pass=observiumpwd
OBSERVIUM_db_user=observium

OBSERVIUM_snmp__community__0=public
OBSERVIUM_snmp__community__1=othercommunity

#
TZ=America/Argentina/Mendoza
#
# for jwilder/nginx-proxy
VIRTUAL_HOST=observium.local
VIRTUAL_PORT=80

