MYSQL_DATABASE=observium
MYSQL_PASSWORD=observiumpwd
MYSQL_ROOT_PASSWORD=9459123fdf62cc04
MYSQL_USER=observium
TZ=America/Argentina/Mendoza

OBSERVIUM_ADMIN_PASS=admin
OBSERVIUM_ADMIN_USER=admin
OBSERVIUM_auth_mechanism=mysql
OBSERVIUM_db_extension=mysqli
OBSERVIUM_db_host=db
OBSERVIUM_db_name=observium
OBSERVIUM_db_pass=observiumpwd
OBSERVIUM_db_user=observium
OBSERVIUM_snmp__community__0=public
TZ=America/Argentina/Mendoza
VIRTUAL_HOST=observium.micasa.local
VIRTUAL_PORT=80
